body {
  text-align: center;

}

#canvas {
  border: 5px solid black;
  margin-top: 25px;
  /*z-index: 1;*/
  background-color: white;
}

#title {
  border: 1px solid black;
  width: 200px;
  height: 100px;
  margin: 0 auto;
  margin-top: 40px;
}
