body {
  text-align: center;
}

#instructions {
  margin-top: 20px;
}

#board {
  position: relative;
}

#number {
  display: inline-block;
  position: absolute;
  margin-top: 65px;
  margin-left: 60px;
}

.score {
  display: inline-block;
  margin-left: 50px;
  background-color: black;
  position: absolute;
  width: 5px;
  height: 5px;
}

/*----------------------*/
/* score letters */
#scoreSone {
  margin-top: 20px;
  margin-left: 25px;
}

#scoreStwo {
  margin-top: 20px;
  margin-left: 17.5px;
}

#scoreSthree {
  background-color: red;
  margin-top: 20px;
  margin-left: 10px;
}

#scoreSfour {
  background-color: red;
  margin-top: 27.5px;
  margin-left: 10px;
}

#scoreSfive {
  background-color: red;
  margin-top: 35px;
  margin-left: 10px;
}

#scoreSsix {
  margin-top: 35px;
  margin-left: 17.5px;
}

#scoreSseven {
  margin-top: 35px;
  margin-left: 25px;
}

#scoreSeight {
  margin-top: 42.5px;
  margin-left: 25px;
}

#scoreSnine {
  margin-top: 50px;
  margin-left: 25px;
}

#scoreSten {
  margin-top: 50px;
  margin-left: 17.5px;
}

#scoreSeleven {
  background-color: red;
  margin-top: 50px;
  margin-left: 10px;
}

/*----------------------*/

#scoreCone {
  margin-top: 20px;
  margin-left: 50px;
}

#scoreCtwo {
  margin-top: 20px;
  margin-left: 42.5px;
}

#scoreCthree {
  background-color: red;
  margin-top: 20px;
  margin-left: 35px;
}

#scoreCfour {
  background-color: red;
  margin-top: 27.5px;
  margin-left: 35px;
}

#scoreCfive {
  background-color: red;
  margin-top: 35px;
  margin-left: 35px;
}

#scoreCsix {
  background-color: red;
  margin-top: 42.5px;
  margin-left: 35px;
}

#scoreCseven {
  background-color: red;
  margin-top: 50px;
  margin-left: 35px;
}

#scoreCeight {
  margin-top: 50px;
  margin-left: 42.5px;
}

#scoreCnine {
  margin-top: 50px;
  margin-left: 50px;
}

/*----------------------*/

#scoreOone {
  margin-top: 20px;
  margin-left: 75px;
}

#scoreOtwo {
  margin-top: 20px;
  margin-left: 67.5px;
}

#scoreOthree {
  background-color: red;
  margin-top: 20px;
  margin-left: 60px;
}

#scoreOfour {
  background-color: red;
  margin-top: 27.5px;
  margin-left: 60px;
}

#scoreOfive {
  background-color: red;
  margin-top: 35px;
  margin-left: 60px;
}

#scoreOsix {
  background-color: red;
  margin-top: 42.5px;
  margin-left: 60px;
}

#scoreOseven {
  background-color: red;
  margin-top: 50px;
  margin-left: 60px;
}

#scoreOeight {
  margin-top: 50px;
  margin-left: 67.5px;
}

#scoreOnine {
  margin-top: 50px;
  margin-left: 75px;
}

#scoreOten {
  margin-top: 42.5px;
  margin-left: 75px;
}

#scoreOeleven {
  margin-top: 35px;
  margin-left: 75px;
}

#scoreOtwelve {
  margin-top: 27.5px;
  margin-left: 75px;
}

/*----------------------*/

#scoreRone {
  background-color: red;
  margin-top: 20px;
  margin-left: 85px;
}

#scoreRtwo {
  background-color: red;
  margin-top: 27.5px;
  margin-left: 85px;
}

#scoreRthree {
  background-color: red;
  margin-top: 35px;
  margin-left: 85px;
}

#scoreRfour {
  background-color: red;
  margin-top: 42.5px;
  margin-left: 85px;
}

#scoreRfive {
  background-color: red;
  margin-top: 50px;
  margin-left: 85px;
}

#scoreRsix {
  margin-top: 23px;
  margin-left: 92.5px;
}

#scoreRseven {
  margin-top: 20px;
  margin-left: 100px;
}

/*----------------------*/

#scoreEone {
  margin-top: 20px;
  margin-left: 125px;
}

#scoreEtwo {
  margin-top: 20px;
  margin-left: 117.5px;
}

#scoreEthree {
  background-color: red;
  margin-top: 20px;
  margin-left: 110px;
}

#scoreEfour {
  background-color: red;
  margin-top: 27.5px;
  margin-left: 110px;
}

#scoreEfive {
  background-color: red;
  margin-top: 35px;
  margin-left: 110px;
}

#scoreEsix {
  background-color: red;
  margin-top: 42.5px;
  margin-left: 110px;
}

#scoreEseven {
  background-color: red;
  margin-top: 50px;
  margin-left: 110px;
}

#scoreEeight {
  margin-top: 50px;
  margin-left: 117.5px;
}

#scoreEnine {
  margin-top: 50px;
  margin-left: 125px;
}

#scoreEten {
  margin-top: 35px;
  margin-left: 117.5px;
}

#scoreEeleven {
  margin-top: 35px;
  margin-left: 125px;
}
/*----------------------*/

#canvas {
  border: 5px solid black;
  margin-top: 20px;
  margin-left: -160px;
  /*z-index: 1;*/
  background-color: white;
}

#title {
  /*border: 1px solid black;*/
  width: 400px;
  height: 70px;
  margin: 0 auto;
  margin-top: 40px;
  /*background-color: white;*/
  position: relative;
}

.letter {
  display: inline-block;
  background-color: black;
  position: absolute;
  width: 10px;
  height: 10px;
}

/*----------------------*/
/* title blocks */

#Tone {
  margin-left: -165px;
  margin-top: 30px;
}

#Ttwo {
  margin-left: -150px;
}

#Tthree {
  margin-left: -135px;
  margin-top: 30px;
}

#Tfour {
  margin-left: -150px;
  margin-top: 15px;
}

#Tfive {
  margin-left: -150px;
  margin-top: 30px;
  background-color: red;
}

#Tsix {
  margin-left: -150px;
  margin-top: 45px;
}

#Tseven {
  margin-left: -150px;
  margin-top: 60px;
}

/*----------------------*/

#Eone {
  margin-left: -110px;
}

#Etwo {
  margin-left: -95px;

}

#Ethree {
  margin-left: -80px;
}

#Efour {
  margin-left: -110px;
  margin-top: 15px;
}

#Efive {
  margin-left: -110px;
  margin-top: 30px;
}

#Esix {
  margin-left: -110px;
  margin-top: 45px;
}

#Eseven {
  margin-left: -110px;
  margin-top: 60px;
}

#Eeight {
  margin-left: -95px;
  margin-top: 30px;
}

#Enine {
  margin-left: -80px;
  margin-top: 30px;
}

#Eten {
  margin-left: -95px;
  margin-top: 60px;
}

#Eeleven {
  margin-left: -80px;
  margin-top: 60px;
}

/*----------------------*/

#TSone {
  margin-left: -40px;
}

#TStwo {
  margin-left: -40px;
  margin-top: 15px;
}

#TSthree {
  margin-left: -40px;
  margin-top: 30px;
  background-color: red;
}

#TSfour {
  margin-left: -40px;
  margin-top: 45px;
}

#TSfive {
  margin-left: -40px;
  margin-top: 60px;
}

#TSsix {
  margin-left: -55px;
  margin-top: 30px;
}

#TSseven {
  margin-left: -25px;
  margin-top: 30px;
}

/*----------------------*/

#Rone {
  margin-left: 0px;
}

#Rtwo {
  margin-left: 0px;
  margin-top: 15px;
}

#Rthree {
  margin-left: 0px;
  margin-top: 30px;
}

#Rfour {
  margin-left: 0px;
  margin-top: 45px;
}

#Rfive {
  margin-left: 0px;
  margin-top: 60px;
}

#Rsix {
  margin-left: 15px;
  margin-top: 10px;
}

#Rseven {
  margin-left: 30px;
  margin-top: 5px;
}

#Reight {
  margin-left: 45px;
}

/*----------------------*/

#Ione {
  margin-left: 70px;
  background-color: red;
}

#Itwo {
  margin-left: 70px;
  margin-top: 21px;
}

#Ithree {
  margin-left: 70px;
  margin-top: 34px;
}

#Ifour {
  margin-left: 70px;
  margin-top: 47px;
}

#Ifive {
  margin-left: 70px;
  margin-top: 60px;
}

/*----------------------*/

#Sone {
  margin-left: 125px;
}

#Stwo {
  margin-left: 110px;

}

#Sthree {
  margin-left: 95px;
}

#Sfour {
  margin-left: 95px;
  margin-top: 15px;
}

#Sfive {
  margin-left: 95px;
  margin-top: 30px;
}

#Ssix {
  margin-left: 110px;
  margin-top: 30px;
}

#Sseven {
  margin-left: 125px;
  margin-top: 30px;
}

#Seight {
  margin-left: 125px;
  margin-top: 45px;
}

#Snine {
  margin-left: 125px;
  margin-top: 60px;
}

#Sten {
  margin-left: 110px;
  margin-top: 60px;
}

#Seleven {
  margin-left: 95px;
  margin-top: 60px;
}
